@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Josefin+Sans:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 20px;
    color #a9a9a9 ;

}
h1 .title{
    margin-bottom: 20px;
    color: #444444;
    font-family: 'Handlee', cursive;
    text-transform: uppercase;
    font-size: 38px;
    word-spacing: 25px;
    letter-spacing: 30px;
}

.btn a{
    display: block;
    width:180px;
    height: 35px;
    border:2px solid rgb(207, 82, 36);
    line-height: 35px;
    margin: 25px  auto 0 ;
    color:rgb(207, 82, 36);
    text-align: center;
    font-size: 20px;


}

.main-container{
    position: relative;

}
/* Navigvtion bar  */
.navbar{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   position: absolute;
}

.logo a{
       font-family: 'Handlee', cursive;
       font-size: 32px;
       color:coral;

}

.navbar .navbar-items ul{
    display: flex;
}
.navbar .navbar-items ul li{
    text-transform: uppercase;
    margin: 0 10px;
   
}
.navbar .navbar-items ul li a{
    color:white;
    -webkit-transition: all 0.4s ease-in-out 0s;
     transition: all 0.5s ease-in-out 0s;
    
}
.navbar .navbar-items ul li a:hover{
    color:coral;
}

/* Banner img */

.banner-img{
    background: url(https://static.dw.com/image/51897234_101.jpg) no-repeat top center;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    text-align: center;
    color: #fff;
    align-items: center;
   
}
.banner-content h1{
    text-transform: uppercase;
    line-height: 38px;
    margin-bottom: 15px;
}
.banner-content h1 span{
 color:coral;

}
/* About Us */
.about-us, .services, .contactus, .ourteam{
    padding: 5% 10%;
    text-align: center;
}

/* Services */
.services{
    background-color: #f5f5f5;

}
.services .title{
    color: black;
}
.diff-services{
    display: flex;
    margin-top: 35px;
    justify-content: space-between;
}
.diff-services-item{
    width:30%;

}
.diff-services-item img{
    width: 100%;
    margin-bottom: 25px;

}
.diff-services-item h3{
    color:coral;
    margin-bottom: 15px;
}

/* Contact Us */
.contactus .title{
    color: black;
}
.form-input{
    margin-bottom: 15px;

}
.form-input input[type="text"]{
    width: 250px;
    padding: 12px 20px;
    border: 1px solid #ccc;

}
.form-input textarea{
    width:250px;
    padding: 12px 20px;
    height: 80px;
    resize: none;
    border: 1px solid #ccc;

}

/* Our team */
.ourteam{
    background-color: #f5f5f5;
}
.ourteam_wrapper .team{
    display: flex;
  justify-content: space-between;

   
}

.ourteam_wrapper .team-1.team{
    margin-bottom: 25px;
   
}
.ourteam_wrapper .team_member{
    cursor: pointer;
    width:30%;
    height:auto;
    overflow: hidden;
}
.ourteam_wrapper .team_member img{
    width:100%;

    display: block;
    height: auto;
    transition: all 0.6s ease;

}
.ourteam_wrapper .team_member:hover img{
    transform: scale(1.1);
}


/* Footer */
.footer{
    width:100%;
    text-align: center;
    background: #444444;
    padding: 20px 0;
}
.footer a{
    color:#fff;

}

/* arrow */
.arrow{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    background:coral ;
}
.arrow img{
    width:20px;
    height: 20px;
    z-index: 1;
}


@media (max-width: 720px){
    .navbar{
        height: auto;
        flex-direction: column;
    }
    .navbar ul{
        flex-direction: column;
        text-align: center;
    }
    .logo{
        margin-bottom: 25px;
    }
    .navbar ul li{
        margin-bottom: 5px;
    }

}
